<% provide(:title, 'アカウント管理') %>
<h1>企業登録アカウント発行</h1>
<p>
<form class="form-horizontal">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="input01">追加対象企業</label>
            <div class="controls">
            	コスパクリエーション
			</div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input01">氏名</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="name">
                <p class="help-block">全角文字</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input01">メールアドレス</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="email">
                <p class="help-block">半角英数</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">状態</label>
            <div class="controls">
                <label class="radio">
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    有効 
                </label>
                <label class="radio">
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    無効
                </label>
            </div>
        </div>
    	<div class="form-actions">
	        <button type="submit" class="btn">確認</button>
		</div>
    </fieldset>
</form>
</p>

