<% provide(:title, 'アカウント管理') %>
<h1>新規企業追加一覧</h1>
<p>
                
<table class="table">
  <thead>
    <tr>
      <th>No</th>
      <th>企業</th>
      <th>略称</th>
      <th>都道府県</th>
      <th>電話番号</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>コスパクリエーション</td>
      <td>コスパ</td>
      <td>東京都</td>
      <td>03XXXXXXXX</td>
      <td><%= link_to "新規発行", account_add_path %></li>
    </tr>
    <tr>
      <td>2</td>
      <td>コスパクリエーション</td>
      <td>コスパ</td>
      <td>東京都</td>
      <td>03XXXXXXXX</td>
      <td><%= link_to "新規発行", account_add_path %></li>
    </tr>
    </tr>
    <tr>
      <td>3</td>
      <td>エバーキュー</td>
      <td>EQ</td>
      <td>東京都</td>
      <td>03XXXXXXXX</td>
      <td><%= link_to "新規発行", account_add_path %></li>
    </tr>
    </tr>
  </tbody>
</table>
</p>
