<% provide(:title, 'Login') %>
<h1>Login</h1>
<p>
<div>
	<p>
		IDとパスワードを入力してください。
	</p>

	<table>
		<tbody>
		<tr>
			<th>
				メールアドレス
			</th>
			<td>
				<div class="input text required">
					<input type="text" name="email" maxlength="32" value="">
				</div>
			</td>
		</tr>
		<tr>
			<th>パスワード</th>
			<td>
				<div class="input password">
					<input type="password" name="password"  maxlength="32" value="">
				</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>	
</p>
