<% provide(:title, '承認管理') %>
<h1>商品承認</h1>
<p>
<p class="lead">新20色羽根布団8点セット(ベッドタイプ・シングル) </p>
<p class="lead">【未登録商品】</p>
  <div  class="container">
    <blockquote>
      <p>商品基本情報</p>
    </blockquote>
    <table class="table">
        <tbody>
          <tr>
            <th>関連商品グループ</th>
            <td>寝具</td>
          </tr>
          <tr>
            <th>運送会社</th>
            <td>佐川急便</td>
          </tr>
          <tr>
            <th>販売商品名</th>
            <td>新20色羽根布団8点セット(ベッドタイプ・シングル) </td>
          </tr>
          <tr>
            <th>内部商品名</th>
            <td>（未設定も）</td>
          </tr>
          <tr>
            <th>下限売価</th>
            <td>7,980円</td>
          </tr>
          <tr>
            <th>卸価格</th>
            <td>5,586円</td>
          </tr>
          <tr>
            <th>送料設定</th>
            <td>有り</td>
          </tr>
          <tr>
            <th>送料</th>
            <td>2,500円</td>
          </tr>
          <tr>
            <th>配送日付指定</th>
            <td>可能</td>
          </tr>
          <tr>
            <th>販売期間</th>
            <td>2008-08-19 13:00:00～2009-03-19 14:59:59</td>
          </tr>
        </tbody>
    </table>
    <blockquote>
      <p>SKU1</p>
      <small>カラー</small>
    </blockquote>
    <table class="table">
        <tbody>
          <tr>
            <td>01 : ベージュ⇒20色ではアイボリー ( BEIGE )</td>
          </tr>
          <tr>
            <td>02 : オレンジイエロー⇒20色ではひまわり ( ORANGE・YELLOW )</td>
          </tr>
          <tr>
            <td>03 : サーモンピンク⇒20色ではコーラルピンク ( PINK )</td>
          </tr>
          <tr>
            <td>04 : グリーン⇒20色ではライムグリーン ( GREEN )</td>
          </tr>
          <tr>
            <td>05 : ブルー⇒20色ではピュアブルー ( BLUE )</td>
          </tr>
          <tr>
            <td>06 : ブラック⇒20色ではサイレントブラック ( BLACK )</td>
          </tr>
          <tr>
            <td>07 : ネイビー⇒20色ではミッドナイトブルー ( NAVY )</td>
          </tr>
          <tr>
            <td>08 : ウッドオレンジ⇒20色ではサンセットオレンジ ( Wood Orange )</td>
          </tr>
        </tbody>
    </table>
    <blockquote>
      <p>SKU2</p>
      <small>サイズ</small>
    </blockquote>
    <table class="table">
        <tbody>
          <tr>
            <td>01 : シングル（ S ）</td>
          </tr>
          <tr>
            <td>02 : ダブル ( M )</td>
          </tr>
        </tbody>
    </table>
    <hr>
    <blockquote>
      <p>素材</p>
      <small>画像</small>
    </blockquote>
    <table class="table">
        <tbody>
          <tr>
            <th style="vertical-align: middle; padding: 3px;"><img style="width: 50px; padding: 3px;" src="g/040203115_g_001_bt_huton_m_m.jpg">ピンク</th>
            <td width="100"><a href="g/040203115_g_001_bt_huton_m_m.jpg" target="_blanck">確認</a></td>
          </tr>
          <tr>
            <th style="vertical-align: middle; padding: 3px;"><img style="width: 50px; padding: 3px;" src="g/040203115_g_002_bt_futon_m_m.jpg">グリーン</th>
            <td><a href="g/040203115_g_002_bt_futon_m_m.jpg" target="_blanck">確認</a></td>
          </tr>
        </tbody>
    </table>
    <blockquote>
      <small>WEBページ</small>
    </blockquote>
    <table class="table">
        <tbody>
          <tr>
            <th>新20色羽根布団8点セット【30万セット突破記念キャンペーン】(ベッドタイプ&和タイプシングル)_価格あり(税抜)</th>
            <td width="100"><a href="040203115_w_003/040203115_w_003.html" target="_blanck">確認</a></td>
          </tr>
          <tr>
            <th>価格なし:新20色羽根布団8点セット【30万セット突破記念キャンペーン】</th>
            <td><a href="040203115_w_003/040203115_w_003.html" target="_blanck">確認</a></td>
          </tr>
        </tbody>
    </table>
    <blockquote>
      <small>バナー</small>
    </blockquote>
    <table class="table">
        <tbody>
          <tr>
            <th>W 160 * H 160:Aタイプ</th>
            <td width="100"><a href="b/040203115_b_001_m.jpg" target="_blanck">確認</a></td>
          </tr>
          <tr>
            <th>W 395 * H 60:Aタイプ</th>
            <td><a href="b/040203115_b_002_m.jpg" target="_blanck">確認</a></td>
          </tr>
        </tbody>
    </table>
  </div>

<form class="form-horizontal">
    <fieldset>
		<div class="control-group">
            <label class="control-label">状態</label>
            <div class="controls">
                <label class="radio">
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    承認する 
                </label>
                <label class="radio">
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    却下する
                </label>
            </div>
        </div>
    	<div class="form-actions">
	        <button type="submit" class="btn">確認</button>
		</div>
    </fieldset>
</form>
</p>

